body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: black;
  gap: 30px;
  margin-top: 60px;
  color: aqua;
  justify-content: center;
  display: grid;
  background-image: url(/imagens/background\ geral.png);
}
h1 {
  display: block;
  text-align: center;
}
p {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.formularios {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
img {
  max-width: 100%;
  align-items: center;
  height: auto;
  width: 35%;
}
.imagem-texto {
  position: relative;
}
h4 {
  text-align: center;
}
a {
  color: aqua;
}
.destaque {
  background-color: yellow;
  color: black;
  font-size: 24px;
}
.enviar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
h5 {
  text-align: center;
}
.face {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.facebook {
  background-color: #3b5998;
  color: #f4f4f4;
}
.twitter {
  background-color: #1bb2e9;
  color: #f4f4f4;
}
.login {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
h3 {
  text-align: center;
  display: block;
}
.escrito {
  font-size: 1.5rem;
}
